body {
    background-color: #C14040;
}

nav {
    background-color: #EFE3E3;
    padding: 15px 30px;
    vertical-align: middle;
    color: #C14040;
    text-decoration: solid;
    border-radius: 15px;
    margin-bottom: 20px;
}

nav h1 {
    display: inline;
}

nav a {
    text-decoration: none;
    float: right;
    margin-left: 20px;
    color: #C14040;
}

/* HOMEPAGE */

#home {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.prez-poke {
    background-color: #982C2C;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

.prez-poke img {
    height: 20em;
}

.prez-poke a {
    color: #EFE3E3;
    text-decoration: none;
}

.prez-poke a:hover {
    color: cadetblue;
    font-size: larger;
}