body {
    background-color: #C14040;
}

nav {
    background-color: #EFE3E3;
    padding: 15px 30px;
    vertical-align: middle;
    color: #C14040;
    text-decoration: solid;
    border-radius: 15px;
    margin-bottom: 20px;
}

nav h1 {
    display: inline;
}

nav a {
    text-decoration: none;
    float: right;
    margin-left: 20px;
    color: #C14040;
}

/* HOMEPAGE */

#home {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.prez-poke {
    background-color: #982C2C;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

.prez-poke img {
    height: 20em;
}

.prez-poke a {
    color: #EFE3E3;
    text-decoration: none;
}

.prez-poke a:hover {
    color: cadetblue;
    font-size: larger;
}


/* POKEMON DETAILS PAGE */

h2 {
    color: #EFE3E3;
    text-align: center;
    font-size: 2em;
}

.poke-wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

#card-poke {
    background-color: #982C2C;
    border-radius: 15px;
    padding: 20px;
    color: white;
    width: 35%;
}

#card-poke a {
    text-decoration: none;
    color: white;
    padding: 0.35em;
    border-radius: 5px;
    margin-right: 5px;
}

h3, h4 {
    font-weight: bolder ;
}

table {
    border-spacing: 30px 10px ;
}

.gauge {
    width: 72%;
}

.wrapper {
    background-color: #632B2B;
    border-radius: 5px;
    width: 100%;
    height: 20px;
}

.progressbar {
    background-color: white;
    border-radius: 5px;
    height: 20px;
}

.home-link {
    text-decoration: none;
    font-weight: bolder;
    color: white;
    margin: 0 auto;
}

p {
    text-align: center;
}

/* TYPES LIST PAGE */
#types {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#types a {
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    width: 12em;
    padding: 1.3em;
    text-align: center;
}